{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
      <a href="{% url 'blog:create' %}" class="btn btn-primary my-2" >Добавить блог</a>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Выберите тип блога
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'blog:publish_true' %}">Разрешенные к публикации</a></li>
        <li><a class="dropdown-item" href="{% url 'blog:publish_false' %}">Запрещенные к публикации</a></li>
        <li><a class="dropdown-item" href="{% url 'blog:list' %}">Все </a></li>
      </ul>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for blog in object_list %}
          <div class="col">
            <div class="card-footer text-center shadow-sm">
{#              <div class="col-md-6">#}
{#                <img src="{{ blog.image | media_filter }}" class="h-100 border" alt="">#}
{#              </div>#}
              <div class="card-body">
                <p class="card-text">Заголовок: {{ blog.title }}</p>
                <p class="card-text">Ссылка: {{ blog.slug }}</p>
                {% if blog.publish is True%}
                  <p class="card-text">Разрешено публиковать</p>
                {% else %}
                  <p class="card-text">Запрещено публиковать</p>
                {% endif %}
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-primary my-2" href="{% url 'blog:detail'  blog.pk %}" role="button">Посмотреть</a>
                    <a class="btn btn-primary my-2" href="{% url 'blog:update'  blog.pk %}" role="button">Изменить</a>
                    <a class="btn btn-primary my-2" href="{% url 'blog:conform_delete' blog.pk %}" role="button">Удалить</a>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}