{% if view.all_category is not None %}
    <section class="py-0 text-end container">
    <div class="dropdown">
      <a href="{% url 'catalog:product_create' %}" class="btn btn-primary my-2" >Добавить смартфон</a>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Выберите категорию смартфонов
      </button>
      <ul class="dropdown-menu">
        {% for category in view.all_category %}
            <li><a class="dropdown-item" href="{% url 'catalog:products_category' category.pk %}">Категория: {{ category.name }}</a></li>
        {% endfor %}  
        <li><a class="dropdown-item" href="{% url 'catalog:products_list'%}">Все категории</a></li>
      </ul>
    </div>
    </section>
{% endif %}
